# Warmup

A triangle number is one where that number of objects can be arranged into a triangle.

![](triangle-numbers.svg)

The $n_{\mbox{th}}$ triangle number is given by

$$t_n = \frac{n(n + 1)}{2}$$

A **triangle word** is a word whose alphabetical value (i.e. summing the alphabetical values of each letter) is a triangle number. For example:

- `SKY` is a triangle word because the alphabetical value of SKY is 19 + 11 + 25 = 55, which is a triangle number.
- `ANT` is **not** a triangle word because it's alphabetical value is 1 + 14 + 20 = 35, which is not a triangle number.

Using the list of words on you mac at `/usr/share/dict/words`, how many triangle words are there?

In [44]:
# a -> 1
# b -> 2
# ...
# z -> 26
'abcdefghijklmnopqrstuvwxyz'.index('a') + 1

1

In [56]:
def triangle_number(n):
    return int(n * (n + 1) / 2)

assert triangle_number(1) == 1
assert triangle_number(2) == 3
assert triangle_number(3) == 6

In [65]:
triangle_numbers = [triangle_number(n) for n in range(1, 31)]
triangle_numbers

[1,
 3,
 6,
 10,
 15,
 21,
 28,
 36,
 45,
 55,
 66,
 78,
 91,
 105,
 120,
 136,
 153,
 171,
 190,
 210,
 231,
 253,
 276,
 300,
 325,
 351,
 378,
 406,
 435,
 465]

In [49]:
def alphabetical_value(ch):
    if ch.lower() not in 'abcdefghijklmnopqrstuvwxyz':
        return 0
    return 'abcdefghijklmnopqrstuvwxyz'.index(ch.lower()) + 1

def alpha_value_word(word):
    return sum([alphabetical_value(ch) for ch in word])

assert alpha_value_word('sky') == 55
assert alpha_value_word('ant') == 35

In [66]:
import pandas as pd

words = open('/usr/share/dict/words').read().strip().split('\n')

df = pd.DataFrame({'word': words})
df['alpha_value'] = df.word.apply(alpha_value_word)
df['is_triangle_word'] = df.alpha_value.isin(triangle_numbers)
df

              word  alpha_value  is_triangle_word
0                A            1              True
1                a            1              True
2               aa            2             False
3              aal           14             False
4            aalii           32             False
...            ...          ...               ...
235881      zythem           97             False
235882      Zythia           89             False
235883      zythum          113             False
235884     Zyzomys          149             False
235885  Zyzzogeton          179             False

[235886 rows x 3 columns]

In [67]:
df.is_triangle_word.sum()

16426

## Demonstrating the hyphen error

In [78]:
def alphabetical_value(ch):
    try:
        return 'abcdefghijklmnopqrstuvwxyz'.index(ch.lower()) + 1
    except ValueError as e:
        print('[ERROR]: {}'.format(e))
        print('[ERROR]: ch = {}'.format(ch))


def alpha_value_word(word):
    return sum([alphabetical_value(ch) for ch in word])

df.word.apply(alpha_value_word)

[ERROR]: substring not found
[ERROR]: ch = -

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'